name: Test Unit
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - aws
  pull_request:
    branches:
      - main
      - aws

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Run unit tests
        run: make test-unit