name: Update helm chart in registry
on:
  push:
    tags:
      - v*

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  helm:
    name: helm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.9.2

      - name: Login to Enclaive Harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.enclaive.cloud
          username: ${{ vars.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Login to migration harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.migration.enclaive.cloud
          username: ${{ vars.HARBOR_USERNAME_MIG }}
          password: ${{ secrets.HARBOR_PASSWORD_MIG }}

      - name: Package, upload, cosign
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
        run: |
          helm lint .
          helm package .
          helm inspect chart vhsm-*.tgz

          helm push vhsm-*.tgz oci://harbor.enclaive.cloud/vhsm 2> metadata.txt
          helm push vhsm-*.tgz oci://harbor.migration.enclaive.cloud/vhsm 2> metadata.txt

          cat metadata.txt

          DIGEST=$(grep ^Digest: metadata.txt | cut -d" " -f2)
          cosign sign --yes --key env://COSIGN_PRIVATE_KEY "harbor.enclaive.cloud/vhsm/vhsm@${DIGEST}"